{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-xl font-bold">Task List</h1>
        <a href="{{ path('app_tasks_add') }}" class="bg-blue-500 text-white py-1 px-3 rounded">
            Add Task
        </a>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="mb-4 p-3 rounded {% if label == 'success' %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="rounded border">
        {% if tasks is not empty %}
        <div class="divide-y">
            <!-- Task items -->
            {% for task in tasks %}
                <div class="p-3 flex items-center">
                    {{ task.title }}
                </div>
            {% endfor %}
            <!-- End of Task items -->
        </div>
        {% else %}
            <div class="p-3">
                No tasks found. You might add one 
                <a href="{{ path('app_tasks_add') }}" class="text-blue-500">
                    here
                </a>
            </div>
        {% endif %}
    </div>    
{% endblock %}